<h2>Functionality Playground</h2>
<h3>Time to test file uploads</h3>

<form method="post" action="/classes/test"  encType="multipart/form-data">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Admin_S" id="username">
    </div>
    <div class="form-group">
        <label>Module</label>
        <input type="text" class="form-control" name="module" placeholder="Where you want the file to go" id="module">
    </div>
    <div class="form-group">
        <label>File</label>
        <input type="file" class="form-control" name="file" placeholder="assignment.txt">
    </div>
    <button type="submit" class="btn btn-default" onclick="">Submit</button>
</form>